/* Universal Styles */
html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}
body {
  line-height: 1.4;
}
.container {
  max-width: 960px;
  margin: auto;
}
.flex {
  display: flex;
}

/* Header */

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
nav ul {
  margin-right: 1rem;
}
nav li {
  display: inline;
  padding: 0 1rem;
}
.truncated-menu {
  display: none;
}
header .flex {
  justify-content: flex-end;
}
.main-banner {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}
h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

/* Container */

#one img {
  width: 3.5rem;
}

#two img {
  width: 5rem;
}

#three img {
  width: 5rem;
}

#images {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  height: 8rem;
  width: 960px;
  justify-content: center;
}

.container-items {
  display: flex;
  justify-content: center;
}

.img-container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.item-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.item {
  margin-left: 1rem;
  width: 8rem;
}

.info {
  color: white;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.site-container {
  display: flex;
  justify-content: flex-start;
  width: 960px;
}

.details {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

#alpha {
  width: 90%;
}

#beta {
  width: 90%;
}

p {
  color: white;
  padding-top: 0.5rem;
}

.information {
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 10rem;
}

.information span {
  background-color: cadetblue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.information-v p{
  color:black;
}

.footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 960px;
}

.footer-container {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-black {
  padding-left: 4rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.logo-black img {
  height: 1.5rem;
}

.logo-black h1 {
  font-size: 1rem;
  margin: 1rem;
  color: black;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0;
  }
  nav.container {
    max-width: 100%;
  }
  .main-banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .main-banner h1 {
    font-size: 1.33rem;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }

  .info .site-container{
    width: 100%;
    justify-content: space-around;
  }

  #images {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-container .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }
  .menu ul.truncated-menu {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  header div span {
    display: none;
  }
  header {
    background-position: 20%;
    height: 17rem;
  }
  .main-banner {
    width: 100%;
    padding: 0 1rem;
    margin: 9rem auto 0 auto;
    text-align: center;
  }
  .main-banner h1 {
    font-size: 1rem;
  }
  #images {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    margin-bottom: 50%;
  }
  .item {
    width: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  .item-text{
    font-family: Helvetica;
    font-size: 0.77rem;
  }
  .site-container {
    display: flex;
    flex-direction: column;
  }
  .details {
    width: 40%;
  }
  p {
    font-family: Helvetica;
    font-size: 0.77rem;
    margin-bottom: 15%;
  }
  .information {
    width: 105%;
  }
  .information span {
    display: flex;
    justify-content: center;
  }
  .footer-container {
    margin-top: -5rem;
  }
}
